.devicon-html5-plain-wordmark {
  font-size: 5em;
}

.devicon-css3-plain-wordmark {
    font-size: 5em;
}

.devicon-javascript-plain {
    font-size: 5em;
}  

.devicon-python-plain-wordmark {
    font-size: 5em;
}

.devicon-nodejs-plain-wordmark {
    font-size: 5em;
}

.devicon-express-original-wordmark {
    font-size: 5em;
}

.devicon-react-original-wordmark {
    font-size: 5em;
}

.devicon-redux-original {
    font-size: 5em;
  }

.devicon-webpack-plain-wordmark {
    font-size: 5em;
}

.devicon-babel-plain {
    font-size: 5em;
}

.devicon-postgresql-plain-wordmark {
    font-size: 5em;
}

.devicon-mongodb-plain-wordmark {
    font-size: 5em;
}

.devicon-flask-original-wordmark {
    font-size: 5em;
}

.devicon-django-line-wordmark {
    font-size: 5em;
}

.devicon-heroku-original-wordmark {
    font-size: 5em;
}

.devicon-github-original-wordmark {
    font-size: 5em;
}

.devicon-git-plain-wordmark {
    font-size: 5em;
}