h1 {
    text-align: center;
}

div {
    display: inline;
    text-align: center;
    justify-content: space-between;
}

.devicon-github-original {
    font-size: 3em;
}

.devicon-linkedin-plain {
    font-size: 3em;
}

a {
    text-decoration: none;
    color: black;
}